
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$font-size-base: 1.6rem;
$line-height-base: 1.6;

// Grid
$max-width: 1140px;
$section-padding: 6rem 0;

// Containers
$box-padding: 4rem;
$list-padding: $box-padding / 2;
$container-margin: 2rem 0;

// Colours
$black: #1A1A1A;
$darker: lighten($black, 10%);
$white: #F7F7F7;
$dark-grey: #838383;
$grey: #EFEFEF;
$red: #F91628;

// Social Media Colours
$facebook-color: #466BAE;
$twitter-color: #2AA3EF;
$youtube-color: #F91628;
